<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <br>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
   <br>
   <br>
  <div class="field">
    <br>
    <%= "Details"%><br>
 
<%= text_area_tag "comment", 
"1. Åpning av møte ved styreleder Ola Normann, og opptak av fortegnelse over møtende/deltakende aksjeeiere. 

2. Valg av møteleder og protokollunderskrivere (minst en person i tillegg til møteleder).

3. Godkjennelse av innkalling og agenda.

4. Godkjennelse av årsregnskapet og årsberetningen for 2012, herunder konsernregnskap og utdeling av utbytte. 

5. Fastsetting av godtgjørelse til styrets medlemmer.

6. Godkjennelse av godtgjørelse til revisor. (Dersom revisor er valgt)

7. Styrevalg.
(Merk: Endring av styre skal behandles av generalforsamlingen. Aksjeloven stiller imidlertid ikke krav til årlig behandling av dette punktet. Valg av styre kan også gjøres av ekstraordinær generalforsamling.)", :class => 'details_area' %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div><br>
  <br>
  <br>
  <br>
  
<% end %>
