<p id="notice"><%= notice %></p>

<p>
  <strong>E-mail:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @company.contact_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @company.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @company.time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<%= link_to 'PDF', pdf_company_path(@company)%>
<%= link_to 'Edit', edit_company_path(@company) %> 
<%= link_to 'Back', companies_path %>
